.htmlParser {
  line-height: 1.7;
  color: #3f4d59;

  & p {
    margin: 0 0 12px 0;
  }

  & ol {
    margin: 0;
    padding-left: 1.25rem;
  }

  & ol li {
    margin-bottom: 10px;
    padding-left: 4px;
  }

  & ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
  }

  & li {
    margin-bottom: 10px;
  }

  & li::before {
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.mySelfthree {
    background: #6895D9;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
}
