.showDateData {
    color: white;
    background-color: #1476B7;
    border-radius: 5px;
    height: 100%;
}

.showDateData2 {
    display: flex;
    justify-content: center;
    align-items: center
}

.garage-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    white-space: nowrap;
    width: 85%
}
.fc-direction-ltr .fc-toolbar>*>:not(:first-child) {
  
    display: none;
}
.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
   
    margin-left: 11rem;
}

.fc .fc-button-primary {
    background-color: #1476B7;
    border:none;
    color: white;
    width: 5rem;
}
.fc .fc-button-primary:hover {
    background-color:#1476B7 ;
    border:none;
    color: white;
}
.fc-icon-chevron-left:before {
    content: "\e900 Previous";
    font-size: 14px;
    margin-left: -1.5rem;
   
}
.fc .fc-button {
    border-radius: 1.25em;
}
.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem!important;
}
.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.fc-icon-chevron-right:before {
    content: "\e901 Next";
    font-size: 14px;
    margin-left: -1rem;
}
.fc .fc-button .fc-icon {
    font-size: 1.5em;
    margin-bottom: 1rem;
    vertical-align:auto !important;
}
.disabledBtnStyle {
    background-color: gray;
    cursor: not-allowed;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
}

button.ant-btn.css-dev-only-do-not-override-ed5zg0.ant-btn-button.viewResultButton.editBtn {
    background-color: #1476B7;
    color: white;
}

.warnText {
    text-align: center;
    font-size: 18px;
    display: block;
}

button.ant-btn.css-dev-only-do-not-override-ed5zg0.ant-btn-button.takebutton.deleteBtn {
    background: red;
}

fc-scrollgrid-sync-inner {
    width: 200px !important;
}

fc-col-header-cell-cushion {
    font-size: 2px !important;
}

@media (max-width: 499px) {
    .fc .fc-col-header-cell-cushion {
        font-size: 8px !important;
    }
    
}

@media (min-width: 500px) and (max-width: 767px) {
    .fc .fc-col-header-cell-cushion {
        font-size: 10px !important;
    }
}

.errorTime {
    color: red;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.saveData
{
    background-color: #1476B7;
    color: white !important;
    width: 150px;
    height: 45px;
    border-radius: 10px;
}

.download
{
    background-color: #1476B7;
    color: white !important;
    width: 200px;   
    height: 45px;
    border-radius: 10px;
}