.siderComponentInnerWidth {
  width: 90%;
}

.siderComponentInnerWidthSetting {
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.siderComponentWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.siderComponentChatMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  background: #ee3124;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  font-family: DM Sans;
  font-style: normal;
}

.siderComponentChatMenuSelected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  border: 0.7px solid #ee3124;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  text-transform: capitalize;
  font-family: DM Sans;
  font-style: normal;
}

.siderComponentChatMenuTitle {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.siderComponentLinkWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.siderComponentLink {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-size: 15px;
}

.siderComponentHr {
  width: 100%;
  height: 1px;
  background: #444654;
  border: none;
  margin-bottom: 50px;
}

.contentComponentSection {
  height: 100%;
  width: 100%;
}

.contentComponentFooter {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageInput {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 5px 12px 0px rgba(253, 52, 52, 0.05);
  height: 50px;
}

.responseButton {
  height: 50px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ee3124;
  color: #ee3124;
  background: #fff;
  box-shadow: 0px 5px 12px 0px rgba(253, 52, 52, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.responseButton:hover {
  background-color: #ee3124 !important;
  border-color: #ee3124 !important;
}

.messageArrayQuestion {
  color: #2e3339;
  font-size: 16px;
  font-weight: 700;
  font-family: DM Sans;
  display: flex;
  height: 100%;
  width: 82%;
  word-break: break-all;
  margin-top: 10px;
}

.messageArrayQuestionWrapper {
  background-color: #fff;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
}
.educationalGuidanceMainDiv {
  background-color: white;
  width: 100%;
  min-height: 80vh;
  padding: 0.5rem;
}
.educationalGuidanceSecondDiv {
  background: #f8fafc;
  width: 100%;
  min-height: 85vh;
  padding: 20px;
}
.messageArrayAnswerWrapper {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
}

.messageArrayAnswer {
  color: #2e3339;
  display: flex;
  align-items: center;
  height: 100%;
  width: 82%;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  margin-top: 10px;
}

.modalText {
  color: #313131;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.32px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: DM Sans;
}

@media only screen and (max-width: 767px) {
  .siderComponentWrapper {
    height: 80%;
  }
  .messageArrayQuestion {
    width: 75%;
  }
  .messageArrayAnswer {
    width: 75%;
  }
}
