.occupationOptionBackground {
    border: 1px solid lightblue;
    border-radius: 15px;
    background: #fff;
    padding: 10px;
    box-shadow: 2px 2px 2px lightblue;
}

.mySelf {
  background-color: #DCF1FC;
  width: 100%;
  min-height: 90vh;
  padding: 20px;
}

.mySelfTwo {
    background: #DCF1FC;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
}