.inputFieldStyle {
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  height: 50px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9d9c9d;
}
.inputFieldStyleSelect {
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  height: 50px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9d9c9d;
  display: flex;
  align-items: center;

}

@media only screen and (max-width: 380px) and (min-width: 980px) {

  .inputFieldStyle {
    width: 120px !important;
  }
}