.tableHeadingStyle {
  color: #1476b7 !important;
  font-weight: bold !important;
  font-size: 16px;
  font-family: 'poppins';
  cursor: pointer;
  max-width: 170px;
  min-width: 170px;
}

.firstTableHeadingStyle {
  color: #1476b7 !important;
  font-weight: bold !important;
  font-size: 16px;
  font-family: 'poppins';
  cursor: pointer;
}

.checked {
  background: blue !important;
}

.old-data input {
  color: #2b2a2a !important;
}

.inputFieldStyleLarge {
  color: #5c0404;

}
.extraPadding
{padding: 0 23px !important;width:80px}

.extraWidth{
  width:32px
}
.rowHeadingMobile {
  color: #1476b7 !important;
  font-family: poppins;
  font-size: 16px;
  margin-right: 3px;
  font-weight: 700 !important;
}

.inputFieldStyleSmall {
  width: 120px;
  color: #2b2a2a;
}

.new-data:hover {
  background-color: white;
}

.caoMainDiv {
  background: #F8FAFC;
}

.coaInnerf8fafcDivtest {
  height: 100%;
  background: #F3EDFA;
;
}

.emptyTable thead {
  width: 60px !important;
  font-size: 40px;
  display: none;
}

.nonEmptyTable thead {
  font-size: 12px;
  width: 60px !important;
}


.ant-empty-normal {

  display: none;
}

.backButtonChoicesEdit {
  width: 40px !important;
  color: white !important;
  background: #1476b7 !important;
}

.mobile-table {
  display: flex;
  flex-wrap: wrap;
}

.row.mobile-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.first-column {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.remaining-columns {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding: 8px;
}

.actionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -12px;
  line-height: 40px;
  margin-right: 10px;
}

.dragdrop {
  width: 100%;
}


.menuIconMobile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 2rem;
  margin-left: 1.5rem;

}
.myChoiceEditHeading{
  font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

@media only screen and (max-width: 780px) {

  .old-data input,
  .new-data input {

    width: 155px !important;
  }
  .myChoiceEditHeading{
  
      font-weight: 700;
      font-size: 16px;
    margin-left: 15px;
  }

}