.selectFieldStyle {
  border: 1px solid rgba(224, 224, 224, 0.63);
  border-radius: 3px;
  width: 100%;
  min-width: 125px;
  height: 40px;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.07);
}
.backgroundF4F6F8 {
  background-color: #f4f6f8;
  border-radius: 5px;
}

.backgroundF4F6F8 td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.backgroundF4F6F8 td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.clearAllButton {
  color: #a8a8a8;
  border-radius: 8px;
  background: #ffffff;
  border: 0.770492px solid #e0e0e0;
  width: 110px;
  height: 33px;
  margin-top: 10px;
  font-weight: 500;
}

.calculateButton {
  color: #1476b7;
  border-radius: 8px;
  background: #ffffff;
  border: 0.770492px solid #1476b7;
  width: 110px;
  height: 33px;
  margin-top: 10px;
  font-weight: 500;
}

.caoMainDiv {
  min-height: 100vh;
  width: 100%;
  background: white;
  padding: 30px;
}
.cao2ndText {
  color: #737373;
  font-size: 12px;
  font-weight: 400;
}
.coaInnerf8fafcDiv {
  background: #f8fafc;
  width: 100%;
  padding: 20px;
  height: 80vh;
}

.coaSubjectDiv {
  width: 100%;
  min-height: 50vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.coaSubjectWidth {
  width: 63%;
}
.coaPointsWidth {
  width: 35%;
}
.coaPointTextMain {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

.coaPointTextStyle {
  font-size: 12px;
  color: rgba(38, 50, 56, 0.92);
}
.circularBarMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 0.988391px solid rgba(224, 224, 224, 0.42);
  box-shadow: 0px 3.95356px 11.8607px rgba(0, 0, 0, 0.1);
  width: 158px;
  height: 158px;
  border-radius: 50%;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border: none;
}

@media only screen and (min-width: 0px) and (max-width: 650px) {
  .caoMainDiv {
    padding: 5px;
  }
  .coaSubjectDiv {
    flex-direction: column;
  }
  .coaSubjectWidth {
    width: 100%;
  }
  .coaInnerf8fafcDiv {
    padding: 5px;
  }
  .selectFieldStyle {
    width: 100%;
    min-width: 25px;
  }
  .coaPointsWidth {
    width: 100%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 1000px) {
  .caoMainDiv {
    padding: 20px;
  }
  .coaSubjectDiv {
    flex-direction: column;
  }
  .coaSubjectWidth {
    width: 100%;
  }
  .coaInnerf8fafcDiv {
    padding: 10px;
  }
  .selectFieldStyle {
    width: 100%;
    min-width: 25px;
  }
  .coaPointsWidth {
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .coaSubjectWidth {
    width: 62%;
  }
  .coaInnerf8fafcDiv {
    padding: 10px;
  }
  .selectFieldStyle {
    width: 100%;
    min-width: 25px;
  }
  .coaPointsWidth {
    width: 35%;
  }
}
