.inputSelectFieldStyle {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9d9c9d;
}

.signInButtonStyle {
  background: white;
  border-radius: 15px;
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  width:100vmin;
}

.ant-modal-content{
  width: 430px;
  margin: auto;
}

span.anticon.anticon-close.ant-modal-close-icon {
  display: none;
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
}
button.ant-btn.css-dev-only-do-not-override-ed5zg0.ant-btn-primary,:where(.css-ed5zg0).ant-btn-primary:not(:disabled) {
  background: #1476b7;
  /* width: 25%; */
  height: 45px;
}
button.ant-btn.css-dev-only-do-not-override-ed5zg0.ant-btn-default {
  border: 1px solid #1476b7;
  /* width: 25%; */
  height: 45px;
}
button.ant-modal-close {
  display: none;
}
.ant-modal-header {
  text-align: center;
}
img.ant-image-img.ant-input-password-icon {
  cursor: pointer;
}
.ant-select-show-search:where(.css-dev-only-do-not-override-ed5zg0).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  cursor: pointer;
}
button.ant-btn.css-dev-only-do-not-override-ed5zg0.ant-btn-primary.eduButtonBack{
  color: white;
}

@media only screen and (min-width: 0px) and (max-width: 650px) {
  .signInButtonStyle {
    width:66vmin;
  }
}


@media only screen and (min-width: 651px) and (max-width: 900px) {

  .signInButtonStyle {
    width:41vw;
  }
}


@media only screen and (min-width: 901px) and (max-width: 1400px) {
  .signInButtonStyle {
    width:36vw;
  }
}


@media only screen and (min-width: 1401px) {
  .signInButtonStyle {
    width:26vw;
  }
}